<div th:fragment="footer">

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-12 col-md-12">
            <div class="footer-info">
              <h3>AFTERLIFE</h3>
              <p class="pb-3"><em></em></p>
              <p>
                Jln. assyafi'iyah II RT 04 RW 07 No.113 <br>
                Jatisari, Jatiasih Kota Bekasi <br><br>
                <strong>Phone:</strong> +62 856 9583 6255<br>
                <strong>Email:</strong> denigunawan775@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/company/afterlifes/about/"  target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

  
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>AFTERLIFE</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#">Deni Gunawan S.Kom M.Kom OCI, OCDM</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>

</body>

</html>
</div>