<div th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml">
    <!DOCTYPE html>
    <html lang="en" th>
    
    <head>
      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
    
      <title>AFTERLIFE</title>
      <meta content="" name="description">
      <meta content="" name="keywords">
    
      <!-- Favicons -->
      <link th:href="@{../assets/img/logo.jpeg}" rel="icon">
      <link th:href="@{../assets/img/logo.jpeg}" rel="apple-touch-icon">
    
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    
      <!-- Vendor CSS Files -->
      <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
      <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
      <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
      <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
      <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
      <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    
      <!-- Template Main CSS File -->
      <link href="/assets/css/style.css" rel="stylesheet">
    
    </head>
    
    <body>
    
      <!-- ======= Header ======= -->
      <header id="header" class="fixed-top d-flex align-items-center header-transparent">
        <div class="container d-flex align-items-center justify-content-between">
    
          <div class="logo">
            <h1><a href="#"><span>AFTERLIFE</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="/assets/img/logo.png" alt="" class="img-fluid"></a>-->
          </div>
    
          <nav id="navbar" class="navbar">
            <ul>
              <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
              <li><a class="nav-link scrollto" href="#about">Tentang</a></li>
              <li><a class="nav-link scrollto" href="#features">Produk</a></li>
              <li><a class="nav-link scrollto" href="#pricing">Harga</a></li>
              <li class="dropdown"><a href="#"><span>Project</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                  <li class="dropdown"><a href="#"><span>Small Apps</span> <i class="bi bi-chevron-right"></i></a>
                    <ul>
                      <li><a href="#">Company Profile</a></li>
                      <li><a href="#">Portofolio</a></li>
                      <li><a href="#">Masjid Profile</a></li>
                      <li><a href="#">Pesantren Profile</a></li>
                      <li><a href="#">Promotion Website Profile</a></li>
                      <li><a href="#">Promotion Universitas Profile</a></li>
                      <li><a href="#">Custom Apps</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a href="#"><span>Enterprise Apps</span> <i class="bi bi-chevron-right"></i></a>
                    <ul>
                      <li><a href="#">SIMASJID</a></li>
                      <li><a href="#">SIPESANTREN</a></li>
                      <li><a href="#">SISEKOLAH</a></li>
                      <li><a href="#">SIUNIVERSITAS</a></li>
                      <li><a href="#">SIMRS</a></li>
                      <li><a href="#">Custom Apps</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a href="#"><span>Training</span> <i class="bi bi-chevron-right"></i></a>
                    <ul>
                      <li><a href="#">Java Backend Developer Training</a></li>
                      <li><a href="#">Golang Backend Developer Training</a></li>
                      <li><a href="#">Angular Developer Training</a></li>
                      <li><a href="#">Android Developer Training</a></li>
                      <li><a href="#">Ios Developer Training</a></li>
                      <li><a href="#">Custom Training</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a href="#"><span>Konsultasi</span> <i class="bi bi-chevron-right"></i></a>
                    <ul>
                      <li><a href="#">SKRIPSI</a></li>
                      <li><a href="#">TESIS</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
<!--              <li><a class="nav-link scrollto" href="#team">CTO</a></li>-->
              <li><a class="nav-link scrollto" href="#contact">Kontak</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->
    
        </div>
      </header><!-- End Header -->
</div>