<div th:replace="~{layouts/head :: head}"></div>
  <main id="main">

          <!-- ======= Hero Section ======= -->
          <section id="hero">
            <div class="container">
              <div class="row justify-content-between">
                <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
                  <div data-aos="zoom-out">
                    <h1>Startup yang berfokus pada ecosystem pendidikan <span>AFTERLIFE</span></h1>
                    <h2>Kami Memiliki Team Yang Berkompeten Untuk Membangun Ekosistem Apps Perusahaan Anda</h2>
                    <div class="text-center text-lg-start">
                      <a href="#about" class="btn-get-started scrollto">Mari Berkenalan dengan kami</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
                  <img src="/assets/img/hero-img.png" class="img-fluid animated" alt="">
                </div>
              </div>
            </div>

            <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
              <defs>
                <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
              </defs>
              <g class="wave1">
                <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
              </g>
              <g class="wave2">
                <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
              </g>
              <g class="wave3">
                <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
              </g>
            </svg>

          </section><!-- End Hero -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <br><br><br>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch" data-aos="fade-right">
            <a href="https://www.youtube.com/watch?v=StpBR2W8G5A" class="glightbox play-btn mb-4"></a>
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" data-aos="fade-left">
            <h3>Berkenalan adalah langkah baik untuk mengetahui siapakah kami </h3>
            <p style="text-align: justify;">
                <b>AFTERLIFE</b> adalah sebuah startup yang didirikan pada tahun 2020 dengan visi yang kuat untuk mengembangkan aplikasi berbasis pendidikan yang inovatif dan beragam. Kami memiliki keahlian dan pengalaman yang kaya dalam menghadirkan berbagai macam aplikasi yang berkualitas tinggi. Dalam beberapa tahun terakhir, kami telah berhasil mengembangkan dan meluncurkan sejumlah aplikasi pendidikan yang sukses dan diakui di industri.

                Sebagai startup yang berfokus pada pengembangan aplikasi pendidikan, kami memiliki tujuan yang jelas untuk menyediakan solusi teknologi yang efektif dan mendukung proses pembelajaran yang efisien. Kami percaya bahwa pendidikan yang berkualitas harus menjadi hak bagi setiap individu, dan teknologi dapat menjadi alat yang kuat untuk mewujudkan visi ini.
            </p>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href="">VISI</a></h4>
              <p class="description">
                menjadi perusahaan terdepan dalam pengembangan aplikasi berbasis pendidikan yang memungkinkan akses pendidikan yang inklusif, interaktif dan inovatif bagi semua individu di seluruh dunia. Kami berkomitmen untuk mendorong transformasi pendidikan melalui teknologi yang canggih dan solusi yang efektif.
              </p>
            </div>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4 class="title"><a href="">MISI</a></h4>
              <p class="description" style="text-align: justify;">
                - Mengembangkan aplikasi yang dapat diakses oleh individu dari berbagai latar belakang, termasuk mereka dengan keterbatasan fisik atau akses terbatas terhadap pendidikan. <br>
                - Melakukan riset dan pengembangan terus-menerus untuk mengikuti perkembangan teknologi dan metode pembelajaran terbaru, serta menerapkan penemuan-penemuan ini dalam aplikasi kami.<br>
                - Menjalin kemitraan dengan lembaga pendidikan, organisasi non-profit, dan pemerintah untuk meningkatkan aksesibilitas dan kualitas pendidikan di komunitas yang kurang terlayani.<br>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <br><br><br><br>
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>LAYANAN</h2>
          <p>Layanan yang kami hadirkan</p>
        </div>

        <div class="row" data-aos="fade-left">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
              <i class="ri-store-line" style="color: #ffbb2c;"></i>
              <h3><a href=""><s>Training</s></a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
              <h3><a href="">Konsultasi </a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="150">
              <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
              <h3><a href="">Pembuatan & Support Aplikasi</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="150">
              <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
              <h3><a href="">Beli Putus Aplikasi</a></h3>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Features Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row" data-aos="fade-up">
          <div class="section-title" data-aos="fade-up">
            <h2>Riwayat Pekerjaan Kami</h2>
            <p>Riwayat</p>
          </div>
          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="0" data-purecounter-duration="1" class="purecounter"></span>
              <p><s>Training</s></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="50" data-purecounter-duration="1" class="purecounter"></span>
              <p>Konsultasi</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1" class="purecounter"></span>
              <p>Pembuatan & Support Aplikasi</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1" class="purecounter"></span>
              <p>Beli Putus aplikasi</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Counts Section -->  <br><br>

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>KONSULTASI</h2>
          <p>HARGA UNTUK KONSULTASI</p>
        </div>

        <div class="row" data-aos="fade-left">

          <div class="col-lg-3 col-md-6">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <span class="advanced">Best Deal</span>
              <h3>Individu</h3>
              <h4><sup>Rp</sup>300<span> / Ribu</span></h4>
              <ul>
                <li> Online </li>
                <li> 1 Orang </li>
                <li> 1 x pertemuan </li>
                <li> 1 jam Konsultasi</li>
                <li> offline ++ (100 rb)</li>
                <li>Pembahasan Terkait Teknologi dan Ide</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="200">
              <span class="advanced">Best Seller</span>
              <h3>Small Kelompok</h3>
              <h4><sup>Rp</sup>750<span> / Ribu</span></h4>
              <ul>
                <li> Online </li>
                <li> 1 - 3 Orang </li>
                <li> 1 x pertemuan </li>
                <li> 2 jam Konsultasi</li>
                <li> offline ++ (100 rb)</li>
                <li>Pembahasan Terkait Teknologi dan Ide</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="300">
              <h3>Medium Kelompok</h3>
              <h4><sup>Rp</sup>2<span> / Jt</span></h4>
              <ul>
                <li> Online / Offline</li>
                <li> 3 - 8 Orang </li>
                <li> 2 x pertemuan </li>
                <li> 2 jam Konsultasi</li>
                <li> add on +1jam (500 rb)</li>
                <li>Pembahasan Terkait Teknologi dan Ide</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="400">
              <h3>Large Kelompok</h3>
              <h4><sup>Rp</sup>5<span> / Jt</span></h4>
              <ul>
                <li> Online / Offline</li>
                <li> 10 ++ </li>
                <li> 4 x pertemuan </li>
                <li> 2 jam / pertemuan Konsultasi</li>
                <li> add on +1jam (500 rb)</li>
                <li>Pembahasan Terkait Teknologi dan Ide</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section> -->
    <!-- End Pricing Section -->
    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>HARGA </h2>
          <p>PEMBUATAN & SUPPORT APLIKASI</p>
        </div>

        <div class="row" data-aos="fade-left">

          <div class="col-lg-3 col-md-6">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <h3>Free</h3>
              <h4><sup>$</sup>0<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li class="na">Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
            <div class="box featured" data-aos="zoom-in" data-aos-delay="200">
              <h3>Business</h3>
              <h4><sup>$</sup>19<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="300">
              <h3>Developer</h3>
              <h4><sup>$</sup>29<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li>Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="400">
              <span class="advanced">Advanced</span>
              <h3>Ultimate</h3>
              <h4><sup>$</sup>49<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li>Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section> -->
    <!-- End Pricing Section -->
    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Harga</h2>
          <p>HARGA BELI PUTUS APLIKASI</p>
        </div>

        <div class="row" data-aos="fade-left">

          <div class="col-lg-3 col-md-6">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <span class="advanced">Best Deal</span>
              <h3>Simple Apps</h3>
              <h4><sup>Rp</sup>3  - 10<span> / Jt</span></h4>
              <ul>
                <li>Pemrograman PHP</li>
                <li>Nec feugiat </li>
                <li>Dashboard </li>
                <li class="na">Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="https://wa.link/uvoz30" class="btn-buy" target="_blank">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="200">
              <span class="advanced">Best Seller</span>
              <h3>Small Apps</h3>
              <h4><sup>Rp</sup>20 - 50<span> / jt</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="https://wa.link/r0qb8c" class="btn-buy"  target="_blank">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="300">
                <span class="advanced">Got It</span>
              <h3>Medium Apps</h3>
              <h4><sup>Rp.</sup>50 - 150<span> / jt</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li>Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="https://wa.link/0wjakh" class="btn-buy" target="_blank">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="400">
              <span class="advanced">Advanced</span>
              <h3>Enterprise Apps</h3>
              <h4><sup>Rp</sup>200++<span> / Jt</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li>Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="https://wa.link/mjte1r" class="btn-buy" target="_blank">Buy Now</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>PERTANYAAN</h2>
          <p>Pertanyaan Yang Sering Di Ajukan</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Apakah Afterlife Merupakan Sebuah Perusahaan Technology?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  Afterlife merupakan sebuah software house yang memiliki kredibilitas dan pengalaman dalam membuat aplikasi.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Program apa saja yang dimiliki oleh afterlife?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  saat ini kami memiliki beberapa program yang ready di gunakan. kamipun bisa membuat aplikasi berdasarkan kebutuhan anda.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Bagaimana bisa bekerjasama dengan afterlife? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                Jika ingin melakukan kerjasama silahkan hubungi kontak kami untuk berbicara lebih lanjut.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Apakah konsultasi dengan afterlife gratis?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                Betul. Konsultasi dengan kami gratis.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Ada Metode Kerjasama Apa Saja Di Afterlife <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                Kami memiliki beberapa metode kerjasama, jual putus (beli aplikasi), maintenance (maintance aplikasi) dan jangka panjang (long term contract)
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End F.A.Q Section -->
  </main><!-- End #main -->

<div th:replace="~{layouts/footer :: footer}"></div>